<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/"
               class="brand-logo">PlaceConnect</a>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <h1>Login</h1>
    <input ng-model="username"
           class="form-control"
           type="text"
           placeholder="username"/>
    <input ng-model="password"
           type="password"
           class="form-control"
           placeholder="password"/>
    <a ng-click="model.login(username, password)"
       class="btn btn-primary btn-block">Login</a>
    <a class="btn btn-success btn-block"
       href='#/register'>Register</a>
    <a href="/auth/google"
       class="btn btn-danger btn-block">
        <span class="fa fa-google-plus"></span>
        Google
    </a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
    </div>
</nav>