

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="">
                Profile
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.updateUser()"
               class="navbar-link">
                <span class="glyphicon glyphicon-ok">
                </span>
            </a>
        </div>
    </div>
</nav>



<div class="container">

    <div ng-show="model.success" class="alert alert-success">
        {{model.success}}
    </div>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <img src={{model.user.pic}} class="profile-pic center-block img-circle">
                <span ng-show="!model.sessionUser.moderator" class="label label-pill label-info text-center">User</span>
                <span ng-show="model.sessionUser.moderator" class="label label-pill label-success text-center">Moderator</span>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input ng-model="model.user.username"
                           type="text"
                           class="form-control"
                           id="username"
                           placeholder="alice"/>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input ng-model="model.user.email"
                           type="email"
                           class="form-control"
                           id="email"
                           placeholder="alice@wonderland.com"/>
                </div>
                <div class="form-group">
                    <label for="first">First Name</label>
                    <input ng-model="model.user.firstName"
                           type="text"
                           class="form-control"
                           id="first"
                           placeholder="Alice"/>
                </div>
                <div class="form-group">
                    <label for="last">Last Name</label>
                    <input ng-model="model.user.lastName"
                           type="text"
                           class="form-control"
                           id="last"
                           placeholder="Wonderland"/>
                </div>
            </form>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <form action="/api/profilepicupload"  method="post" enctype="multipart/form-data" class="form-group">
                <input  name="myFile"   type="file" class="form-control"/>
                <input  name="userId" value="{{model.user._id}}"   style="display: none"/>
                <button type="submit"   class="btn btn-block btn-primary">Upload Profile Pic</button>
            </form>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-primary btn-block"
               href="#/user/{{model.user._id}}/place">My Places</a>
            <a ng-show="model.sessionUser.moderator" class="btn btn-primary btn-block"
               href="#/user/{{model.user._id}}/allplace">All Places</a>
            <a class="btn btn-primary btn-block"
               href="#/user/{{model.user._id}}/similar">People like me</a>
            <a class="btn btn-primary btn-block"
               href="#/user/{{model.user._id}}/message">My Messages</a>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <a ng-click="model.logout()" class="btn btn-danger btn-block">Logout</a>
            <a ng-click="model.unregister()" class="btn btn-danger  btn-block">
                Unregister</a>
        </div>
    </div>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/"
               class="brand-logo">PlaceConnect</a>
        </div>
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>
