<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
            </a>
        </div>
        <div class="navbar-header pull-left">
            <a href="" class="navbar-brand text-center">
                Public Profile
            </a>
        </div>
        </div>
    </div>
</nav>


<div class="container">

    <div ng-show="model.success" class="alert alert-success">
        {{model.success}}
    </div>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">
                    Profile Information
                    <i class="fa fa-user fa-1x pull-right"></i>
                </li>
                <li class="list-group-item">
                    <img src={{model.user.pic}} class="profile-pic center-block img-circle">
                </li>
                <li class="list-group-item">
                            <span class="pull-left">
                                <strong class="">Username</strong>
                            </span> : {{model.user.username}}
                </li>
                <li class="list-group-item" ng-show="model.sessionUser">
                            <span class="pull-left">
                                <strong class="">First Name</strong>
                            </span> : {{model.user.firstName}}
                </li>
                <li class="list-group-item" ng-show="model.sessionUser">
                            <span class="pull-left">
                                <strong class="">Last Name</strong>
                            </span> : {{model.user.lastName}}
                </li>
                <li class="list-group-item">
                            <span class="pull-left">
                                <strong class="">Member Since</strong>
                            </span> : <span ng-bind="model.user.dateCreated | date:'EEE, MMM-dd yyyy'"></span>
                </li>
            </ul>
        </div>



        <div class="panel">
            <div class="panel-body">
                    <h4>Send a Message:</h4>

                    <form role="form">
                        <div class="form-group">
                            <input type="text"
                                   ng-model="model.subject"
                                   placeholder="Message Subject"
                                   class="form-control" ng-disabled="model.sessionUser === null">
                        </div>
                        <div class="form-group">
                    <textarea ng-model="model.body"
                              placeholder="Message Body"
                              rows="3"
                              class="form-control" ng-disabled="model.sessionUser === null">
                    </textarea>
                        </div>
                        <a ng-click="model.sendMessage()" class="btn btn-primary" ng-disabled="model.sessionUser === null">Submit</a>
                    </form>
            </div>
        </div>
    </div>
</div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a href="#/"
                   class="brand-logo">PlaceConnect</a>
            </div>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </nav>