<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/"
               class="brand-logo">PlaceConnect</a>
        </div>
        <div class="navbar-text pull-right">
            <a class="text-navbar" href="#/login"><i class="fa fa-key" aria-hidden="true"></i> Login</a>
        </div>
        <div class="navbar-text pull-right">
            <a class="text-navbar" href="#/register"><i class="fa fa-user-plus" aria-hidden="true"></i> Reigster</a>
        </div>

    </div>
</nav>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
    <div class="input-group search landing">
        <input ng-model="searchText"
               type="text" class="form-control"
               placeholder="Search places around YOU!">
        <span class="input-group-btn">
        <a ng-click="model.searchPlaces(searchText)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img class="lan-carousel img-responsive" src="/img/np.jpg" alt="...">
            <div class="carousel-caption">
                <h3>Search For Places You Care About!!</h3>
            </div>
        </div>
        <div class="item">
            <img class="lan-carousel img-responsive" src="/img/bar.jpg" alt="...">
            <div class="carousel-caption">
                <h3>Connect with like Minded People</h3>
            </div>
        </div>
        <div class="item">
            <img class="lan-carousel img-responsive" src="/img/brok.jpg" alt="...">
            <div class="carousel-caption">
                <h3>Have Your favourite Places BookMarked</h3>
            </div>
        </div>
    </div>

</div> <!-- Carousel -->


<div class="container">
    <div class="row">
        <div ng-repeat="place in model.places" class="col-sm-6 col-md-4">
            <article class="white-panel">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="#/place/{{place.fid}}"> <img class="img-responsive pin" alt="500x300" ng-src="{{place.photo}}"> </a>
                    </div>
                </div>
                <div class="row">
                    <hr>
                    <div class="col-xs-12">
                        <a href="#/place/{{place.fid}}">{{place.name}}</a>
                        <div> {{place.category}} </div>
                        <div> {{place.address}}, {{place.city}}, {{place.state}} </div>
                        <a href="#/place/{{place.fid}}"> <span class="glyphicon glyphicon-globe add"></span> </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>




<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
    </div>
</nav>