<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/"
               class="brand-logo">PlaceConnect</a>
        </div>
        <div class="navbar-text pull-right">
            <a class="text-navbar" href="#/login">Login</a>
        </div>
        <div class="navbar-text pull-right">
            <a class="text-navbar" href="#/register">Reigster</a>
        </div>

    </div>
</nav>



<div class="container">
    <div class="input-group search">
        <input ng-model="searchText"
               type="text" class="form-control"
               palceholder="Search for PLACES OF INTEREST around YOU!">
        <span class="input-group-btn">
        <a ng-click="model.searchPlaces(searchText)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>
    <div class="row">
        <div ng-repeat="place in model.places" class="col-sm-6 col-md-4">
            <article class="white-panel">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="img-responsive" alt="500x300" ng-src="{{place.photo}}">

                    </div>
                </div>
                <div class="row">
                    <hr>
                    <div class="col-xs-12">
                        <a href="#">{{place.name}}</a>
                        <div>{{place.category}}</div>
                        <div> {{place.address}}, {{place.city}}, {{place.state}}</div>
                    </div>
                    </div>
            </article>
        </div>
    </div>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
    </div>
</nav>