
a:hover{
    text-decoration: none;
}


a.text-navbar {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    font-weight: 300;
    color: white;
}

.common.pull-right{
    padding-right: 10%;
}

.common.pull-left{
    padding-left: 10%;
}

.navbar-brand:hover{
    text-decoration: none;
}
.navbar-default .navbar-brand {
    color: white;
}

div.navbar-text.pull-right{
    margin-right: 2%;
}

div.navbar-text.pull-left{
    margin-left: 2%;
}

nav.navbar {
    background-color: #3E7AAB;
    color: white;
}

span.glyphicon.glyphicon-search {
    color: black;
}

span.glyphicon.glyphicon-plus.mybar {
    color: White;
}

span.glyphicon.glyphicon-plus.add {
    color: #3E7AAB
}

span.glyphicon.glyphicon-globe.add {
    color: #3E7AAB
}

div .input-group .search .inline {
    display: inline-block;
}

span.glyphicon {
    color: white;
}


.img-thumbnail{
    min-height: 350px;
    height: 350px!important;
}

.detail-review-img{
    min-height: 100px;
    height: 100px!important;
    width: 100px;
}

img.profile-pic{
    min-height: 200px;
    max-height: 400px;
    min-width: 200px;
    max-width: 400px;
    height: 10%!important;
}

img.img-responsive.details {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #eee;
}

div.input-group.search{
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}

input.form-control {
    margin-bottom: 5px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.brand-logo, .brand-logo:hover {
    padding-left: 1vw !important;
    font-family: "Rancho", "Noto Serif", serif;
    color: white;
    font-size: 18px;
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    background-color: #fbfcfd;
    padding-top: 60px;
    padding-bottom: 60px;

}