<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div ng-show="model.sessionUser"  class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/place" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
            </a>
        </div>
        <div ng-show="model.sessionUser == null"  class="navbar-text pull-left">
            <a href="#/"
               class="brand-logo">PlaceConnect</a>
        </div>
        <div ng-show="model.sessionUser == null"  class="navbar-text pull-right">
            <a class="text-navbar" href="#/login">Login</a>
        </div>
        <div ng-show="model.sessionUser == null"  class="navbar-text pull-right">
            <a class="text-navbar" href="#/register">Reigster</a>
        </div>
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="">
                Place Details
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>


    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <h4 class="text-center">Featured Photo</h4>
                    <img class="img-responsive details" ng-src="{{model.place.photo}}">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <h4 class="text-center">Locate on Map</h4>
                    <img class="img-responsive details" ng-src="{{model.place.map}}">
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="col-xs-12">
                <H4 class="text-center"> Details </H4>


                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item text-center"><b> Name :</b> {{model.place.name}}</li>
                    <li class="list-group-item text-center"> <b> Category :</b> {{model.place.category}}</li>
                    <li class="list-group-item text-center"><b> Street :</b> {{model.place.address}}</li>
                    <li class="list-group-item text-center"><b> City :</b> {{model.place.city}}</li>
                    <li class="list-group-item text-center"><b> State :</b> {{model.place.state}}</li>
                    <li class="list-group-item text-center"><b> Country :</b> {{model.place.country}}</li>
                    <li class="list-group-item text-center"><b> Lattitude :</b> {{model.place.lat}}</li>
                    <li class="list-group-item text-center"><b> Longitude :</b> {{model.place.lng}}</li>
                </ul>
            </div>



            <div ng-show="model.success" class="alert alert-success">
                {{model.success}}
            </div>

            <h4>Reviews:</h4>
        <hr/>
        <div class="media" ng-repeat="review in model.place.reviews">
            <a class="pull-left" href="#/user/{{review.user._id}}">
                <img class="media-object img-thumbnail detail-review-img" ng-src="{{review.user.pic}}">
            </a>
            <div class="media-body">
                <p>
                    <ng-rating ng-model="review.rating" editable="false"></ng-rating>
                </p>
                <h4 class="media-heading">
                    <span>{{review.title}}</span>
                </h4>
                <h6>{{review.comment}}</h6>
                    <span class="pull-right" ng-if="model.sessionUser._id === review.user._id">
                        <a href="" ng-click="model.deleteReview(review._id)" class="btn btn-danger">Delete</a>
                    </span>

            </div>
            <hr/>
        </div>


    </div>
    <div class="panel-body">
            <h4>Write a Review:</h4>
            <p>
                <ng-rating ng-model="model.review.rating" editable="model.sessionUser"></ng-rating>
            </p>

            <form role="form">
                <div class="form-group">
                    <input type="text"
                           ng-model="model.review.title"
                           placeholder="Review Title"
                           class="form-control" ng-disabled="!model.sessionUser">
                </div>
                <div class="form-group">
                    <textarea ng-model="model.review.comment"
                              placeholder="Review Comments"
                              rows="3"
                              class="form-control" ng-disabled="!model.sessionUser">
                    </textarea>
                </div>
                <a ng-click="model.submitReview(model.review)" class="btn btn-primary" ng-disabled="!model.sessionUser">Submit</a>
            </form>
    </div>
</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div ng-show="model.sessionUser"  class="navbar-text pull-left">
            <a href=""
               class="brand-logo">PlaceConnect</a>
        </div>
        <p ng-show="model.sessionUser != null" class="navbar-text pull-right">
            <a href="#/user">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>