
<div class="container">

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <h1>Register</h1>
    <input ng-model="username"
           type="text"
           class="form-control"
           placeholder="username"/>
    <input ng-model="password1"
           type="password"
           class="form-control"
           placeholder="password"/>
    <input ng-model="password2"
           type="password"
           class="form-control"
           placeholder="very password"/>
    <a ng-click="model.register(username, password1, password2)"
       class="btn btn-primary btn-block">Register</a>
    <a class="btn btn-danger  btn-block"
       href="#/login">Cancel</a>
</div>
