
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="model.widget.name"
               type="text"
               class="form-control"
               id="name"
               placeholder="Heading Name"
               value="Bad Astronomer">
    </div>
    <div class="form-group">
        <label for="text">Text</label>
        <input ng-model="model.widget.text"
               type="text"
               class="form-control"
               id="text"
               placeholder="Text on Video"
               value="Introduction to Astronomy">
    </div>
    <div class="form-group">
        <label for="text">URL</label>
        <input ng-model="model.widget.url"
               type="url"
               class="form-control"
               id="url"
               placeholder="Video URL"
               value="https://youtu.be/0rHUDWjR5gg">
    </div>
    <div class="form-group">
        <label for="width">Width</label>
        <input ng-model="model.widget.width"
               type="text"
               class="form-control"
               id="width"
               placeholder="Width Value"
               value="80">
    </div>
</form>

<a ng-click="model.deleteWidget()"
   class="btn btn-danger  btn-block">Delete</a>